body {
    background-color: #34495e;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

.game-container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    position: absolute;
    top: 100px;
}

.titleDiv {
    position: absolute;
}

.letter-container {
    margin-top: 400px;
    text-align: center;
}

.letter {
    width: 25px;
    height: 25px;
    border-bottom: 5px solid #ffffff;
    display: inline-block;
    margin-left: 5px;
}

.wrong-letter-container {
    height: 300px;
    width: 300px;
    padding-left: 500px;
}

.already-guessed {
    height: 100px;
    width: 300px;
    background-color: #3c556f;
    text-align: center;
}