
  * {
    box-sizing: border-box;  
  }
body {
    width:100%;

}

/*header*/
.header {
	width: 100%;
	display: inline-block;
}
.logo {
	float: left;
	display: inline-block;
	margin-top: 35px;
	margin-left: 80px;
	margin-bottom: 34px;
}
.logo img {
	width: 83px;
	height: 29px;
}
.ham {
	width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.ham-icon {
	float: right;
	display: inline-block;
	margin-right: 32px;
	margin-top: 34px;
	margin-bottom: 20px;
}

.items {
	display: none; 
}

.btn-login {
	display: none;
}


@media only screen and (min-width: 768px) {
  body {
  	min-width: 768px;
   }

   .items {
       display: none;
   }

  .main {
  	width: 100%;
        }   
     }


 @media only screen and (min-width: 1200px) {
  body {
  	min-width: 1200px;
  }
  .main {
  	max-width: 100%;

  }
  
  .items {
  	float: right;
  	margin-left: 100px;
  	margin-right: 20px;
  	margin-top: 25px;
  	margin-bottom: 10px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    display: block;
    word-wrap: none;
  }


  .items a {
    color:black;
    text-decoration: none;
    margin-left: 10px;
    
  }

  .items ul {
  	margin-left: 10px;
    
}

  .items li{
    display: inline-block;
    
}

 .btn-login {
  	float: right;
  	display: inline-block;
  	font-size: 20px;
   	width: 130px;
   	height: 55px;
    color: #ffffff;
    padding: 16px 36px;
    border-radius: 5px;
    border: 1px solid #798BFE;
    background: #798BFE;
    margin-top: 30px;
   	margin-bottom: 20px;
  	margin-right: 70px;
  }
  
  .ham {
  	display: none;
  }
}


/*Intro Content*/
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.intro-content {
  padding-top: 60px;
  background-size: cover;
  background:linear-gradient(90deg, #FFFCEB 0%, #EAFFFE 100%);
}

.content {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.intro-content-left {
  width: 100%;
  margin: 60px 0;
  float: left;
}

.intro-content-right {
  width: 100%;
  float: right;
}

.intro-content-right img{
width: 100%;
}

h1 {
  margin: 0;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

p {
  font-size: 14px;
  margin: 25px 0 50px;
  line-height: 140.62%;
  
}

.larger-view {
  display: none;
}

.medium-view {
  display: none;
}
.smaller-view {
  display: block;
}

.btn {
  font-size: 14px;
  color: white;
  padding: 16px 36px;
  border-radius: 5px;
  border:  #798BFE;
  background: #798BFE;
}

/*For Tablet*/
@media screen and (min-width: 768px) {
  .content {
    max-width: 768px;
  }

  .intro-content {
    padding: 48px 0 80px;
  }
  .intro-content-left,
  .intro-content-right{
    width: 50%;
  }

  .smaller-view {
    display: block;
  }
}

/*For desktop*/
@media screen and (min-width: 1200px) {
  .content {
    max-width: 1140px; 
  }

  .intro-content {
    padding: 45px 0;
  }

  h1 {
    font-size: 56px;
    line-height: 56px;
  }

  p {
    font-size: 18px;
    margin: 25px 0 60px;
    line-height: 140.62%;
   
  }
  .btn {
    font-size: 18px;
    padding: 19px 56px;
  }
  
  .smaller-view {
    display: block;
  }
}

/*Director Message*/
.clearfix:after{
    content: '';
    display: table;
    clear: both;
  }
  
  .director-msg {
    padding-top: 50px;
   
  }
  
  .msg {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    
  }
  
  h2 {
    font-size: 26px;
    line-height: 36px;
    
  }
  
  .director-img-left {
    width: 100%;
    float: left;
    padding: 40px 28px 39.8px 27px;
   
  }
  
  .director-content-right {
    width: 100%;
    float: right;
    
  }
  
  .director-img-left img{
  width: 100%;
  }
  
  h5 {
    font-size: 14px;
    line-height: 140.62%;
    
    
  }
  
  .director-content-right p {
    font-size: 12px;
    line-height: 140.62%;
    margin:12px 0 20px;
    
  }
  
  a {
    font-size: 12px;
    line-height: 140.62%;
    
  }
  
  /*For tablet*/
  @media screen and (min-width: 768px) {
    .msg {
      max-width: 768px;
    }
  
    h2{
      width: 50%;
      float: right;
      padding: 64px 59px 0px 0px;
    }
  
    .director-img-left,
    .director-content-right {
      width: 50%;
    }
  
    .smaller-view {
      display: block;
    }
  }
  
  /*For desktop*/
  @media screen and (min-width: 1200px) {
    .msg {
      max-width: 1140px; 
    }
  
    h2 {
      font-size: 32px;
      line-height: 42px;
      padding: 54px 275px 0px 0px;
    }
  
    h5 {
      font-size: 18px;
      line-height: 25px;
      padding: 26px 0 13px;
    }
  
    
    .director-content-right p {
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 26px;
     }
  
     a {
       
      font-size: 16px;
      line-height: 140.62%;
     }
    
    .smaller-view {
      display: block;
    }
  }

  /*Upcoming Training*/
.clearfix:after{
    content: '';
    display: table;
    clear: both;
  }
  
  .upcoming-training {
    padding-top: 60px;
    width: 100%;
  }
  
  .training {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h3 {
    font-size: 26px;
    line-height: 42px;
    margin: 0 0 44px;
  }
  
  .event {
    width: 100%;
  }
  
  /*Upcomng traing - Event 1*/
  .event1 {
    float: left;
    width: 100%;
  }
  
  .event1-img {
    width: 100%;
  }
  
  .event1-img img {
    width: 100%;
  }
  
  .event-msg {
    width: 100%;
  }
  
  
  
  .event1-msg h4 {
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0 16px;
   
  }
  
  .event1-msg p {
    font-size: 12px;
    line-height: 17px;
    margin: 0 0 20px;
    
  }
  
  .btn-event {
    font-size: 14px;
    color: white;
    padding: 16px 36px;
    border-radius: 5px;
    border:  #798BFE;
    background: #798BFE;
  }
  
  /*Upcomng traing - Event 2*/
  .event2 {
    margin: 36px 0 0;
    float: left;
    width: 100%;
   
  }
  
  .event2-img {
    width: 100%;
    
  }
  
  .event2-img img {
    width: 100%;
  }
  
  .event-msg {
    width: 100%;
  }
  
  
  
  .event2-msg h4 {
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0 16px;
    
  }
  
  .event2-msg p {
    font-size: 12px;
    line-height: 17px;
    margin: 0 0 20px;
  }
  
  .btn-event {
    font-size: 14px;
    color: white;
    padding: 16px 36px;
    border-radius: 5px;
    border:  #798BFE;
    background: #798BFE;
  }
  
  /*Upcomng traing - Event 3*/
  .event3 {
    margin: 36px 0 0;
    float: left;
    width: 100%;
    
  }
  
  .event3-img {
    width: 100%;
   
  }
  
  .event3-img img {
    width: 100%;
  }
  
  .event-msg {
    width: 100%;
    float
  }

  .event3-msg h4 {
    font-size: 16px;
    line-height: 28px;
    margin :  20px 0 16px;
  }
  
  .event3-msg p {
    font-size: 12px;
    line-height: 17px;
    margin: 0 0 20px;
  }
  
  .btn-event {
    font-size: 14px;
    color: white;
    padding: 16px 36px;
    border-radius: 5px;
    border:  #798BFE;
    background: #798BFE;
  }
  
  /*Upcomng traing - Event 4*/
  .event4 {
    margin: 36px 0 0;
    float: left;
    width: 100%;
    
  }
  
  .event4-img {
    width: 100%;
    
  }
  
  .event4-img img {
    width: 100%;
  }
  
  .event-msg {
    width: 100%;
    float
  }
  
  
  
  .event4-msg h4 {
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0 16px;
    
  }
  
  .event4-msg p {
    font-size: 12px;
    line-height: 17px;
    margin: 0 0 20px;
    
  }
  
  .btn-event {
    font-size: 14px;
    color: white;
    padding: 16px 36px;
    border-radius: 5px;
    border:  #798BFE;
    background: #798BFE;
    margin-bottom: 60px;
    
  }
  
  
  
  /*For tablet*/
  @media screen and (min-width: 768px) {
    .training {
      max-width: 768px;
    }
  
    h3 {
      text-align: center;
      margin: 0 0 44px;
    }
  
    .event{
      width: 100%;
    }
    
    .event1, .event2, .event3, .event4 {
      
      width: 48.6%;
    }
  
    .event2 {
      margin-top: 0;
      
    }
  
    .event1, .event3 {
      margin-right: 20px;
    }
  
    .event3, .event4 {
      margin-top: 40px;
    }
    
  }
  
  /*For laptop*/
  @media screen and (min-width: 1200px) {
    .training {
      max-width: 1140px;
    }
  
    h3 {
      text-align: center;
      font-size: 32px;
      line-height: 42px;
      margin: 0 0 65px;
    }
  
    .event{
      width: 100%;
    }
    
    .event1, .event2, .event3, .event4 {
      width: 23.5%;
      margin: auto;
    }
  
    .event1, .event2, .event3 {
      margin-right: 22px;
    }
  
    .event h4 {
      font-size: 18px;
      margin: 24px 0 20px;
    }
  
    .event p {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 24px;
    }
  }


/* Footer */
.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

.footer-main {
  padding-top: 22px;
 
}

.footer {
  width: 100%;
  padding:0 20px;
  
}

.footer-top span {
  font-size: 16px;
  line-height: 28px;
}

.solutions {
  float: left;
  border-bottom: 1px solid black;
  padding: 9px 0;
}

.platform {
  float: left;
  border-bottom: 1px solid black;
  padding: 9px 0;
}

.company {
  float: left;
  border-bottom: 1px solid black;
  padding: 9px 0;
}

.resources {
  float: left;
  border-bottom: 1px solid black;
  padding: 9px 0;
}

.support {
  float: left;
  border-bottom: 1px solid black;
  padding: 9px 0;
}

.social {
  float: left;
  border-bottom: 1px solid black;
  padding: 9px 0;
}

.support {
  float: left;
  border-bottom: 1px solid black;
  padding: 9px 0;
}

/* Dropdown */
.top-text  {
  float: left;
  
}

.btn-area {
  background-color: transparent;
	cursor: pointer;
	border: transparent;
	}

.menu-area {
  float:right;
	position: relative;
  display: inline-block;
  
}

.menu {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;        
	right: 0;           
}

.menu a {
  color:black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	transition: .9s;
}

.menu a:hover {
	color: white;
}

.menu-area:hover .menu{
	display: block;	
}

.footer-bottom {
  font-size: 10px;
  line-height: 28px;
  padding:12px 0 16px;
}

.solutions,
  .platform, .resources, .support, .social, .company {
    width: 100%;
  }

/*For tablet*/
@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    margin: 0 auto;
  }

  .top-text span{
    font-size: 18px;
    line-height: 28px;
  }

  .solutions,
  .platform, .resources, .support, .social, .company{
    width: 33.3%;
  }

  .footer-main {
    padding-top: 40px;
    
  }

  .footer-bottom span {
    font-size: 12px;
    line-height: 28px;
  }

  .footer-bottom {
    font-size: 12px;
    line-height: 28px;
  }

  .btn-area {
    display: none;
    }
  
  .menu-area {
     float:left;
      position: unset;
      display: block;
      
    }
    
    .menu {
      padding-top: 20px;
      display: block;
      position: unset;
      min-width: 160px;
      z-index: unset;         
      right: unset;           
    }

    .menu-area:hover .menu{
      display: block;	
    }

    .menu a:hover {
      display: none;
    }
}


@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1140px;
    margin: 0 auto;
  }

  .top-text span{
    font-size: 18px;
    line-height: 28px;
  }

  .solutions,
  .platform, .resources, .support, .social, .company{
    width: 20%;
    
  }

  .footer-main {
    padding-top: 40px;
    background-color: navy;
  }

  .footer-bottom span {
    font-size: 12px;
    line-height: 28px;
  }
   .social {
      width: 50%;
      float: right;
      border-bottom: 1px solid black;
      padding:14px 0 16px;
      text-align: right;
    }
    
    .footer-bottom {
      float: left;
      width: 50%;
      font-size: 12px;
      line-height: 28px;
      padding:14px 0 16px;
    }

    .btn-area {
      display: none;
      }
    
      .btn-area {
        display: none;
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: auto;
      }
      
      .menu-area {
        position: unset;
        display: inline-block;
        
      }
      
      .menu {
        display: block;
        position: unset;
        min-width: 160px;
        box-shadow: none;
        z-index: 1;
        
      }
      
      .menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .menu a:hover {
        background-color: white;
      }
      
      .menu-area:hover .menu {
        display: block;
      }
       
}
 
 